# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
venv1/

# Logs & runtime data
logs/


# OS files
.DS_Store
Thumbs.db
.idea/workspace.xml
.idea/

uploads/
model_cache/
src/data

PyWhatKit_DB.txt